/**
* @desc         Grid system classes
* @name         grid
* @requires     helpers/_mixins.scss, helpers/_variables.scss, 
*               helpers/_viewport.scss, respond.js for IE 
*               compatibility
* @usage        Classes related to layout are prefixed with l-
*/

.l-line {
    *zoom: 1;
        &:after {
            clear:both;
            display:block;
            visibility:hidden;
            overflow:hidden;
            height:0 !important;
            line-height:0;
            font-size:xx-large;
            content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
        }
}

.l-box {
    float: left;
    overflow: hidden;
}

.l-box--last {
    *display: table-cell;
    *display: block;
    *zoom: 1;
    float:none;
    _position: relative;
    _left: -3px;
    _margin-right: -3px;
    width:auto;
}


/**
* FIXED INNER OBJECT
*
* @usage        l-fixed-inner will set width of element to fixed-
*               width setting
*               l-fixed-inner--responsive will make element fluid
*               l-fixed-inner--table can contain elements styled with
*               "table-cell" -- helpful for grid and menu layouts
*/

    .l-fixed-inner {
        width: $base-fixed-width;
        @include rem(margin, 0 auto);
    }


        .l-fixed-inner--responsive {
            @media only screen and (max-width: 960px) {
                width: 100%; 
            }
        }

        .l-fixed-inner--table {
            display: table;
        }


/**
* SIZE PROPERTIES
*
* @name         sizeXof16
* @usage        add to elements to control relative size
*               l-sizeXof16 controls desktop display
*/

.l-size1of16  { width: 6.25%; }
.l-size2of16  { width: 12.5%; }
.l-size3of16  { width: 18.75%; }
.l-size4of16  { width: 25%; }
.l-size5of16  { width: 31.25%; }
.l-size6of16  { width: 37.5%; }
.l-size7of16  { width: 43.75%; }
.l-size8of16  { width: 50%; }
.l-size9of16  { width: 56.25%; }
.l-size10of16 { width: 62.5%; }
.l-size11of16 { width: 68.75%; }
.l-size12of16 { width: 75%; }
.l-size13of16 { width: 81.25%; }
.l-size14of16 { width: 87.5%; }
.l-size15of16 { width: 93.75%; }
.l-size16of16 { float: none; width: 100%; }


/**
* @name         responsiveSizeXof16
* @extends      sizeXof16
* @usage        add to elements to control relative size
*               on breakpoints set in _variables.scss. Using
*               the special l-hide--<BREAKPOINT> class will
*               hide that element only when that breakpoint
*               activates
*/

@media only screen and (min-width: $base-breakpoint-xl) {
    .l-size1of16--xl  { width: 6.25%; }
    .l-size2of16--xl  { width: 12.5%; }
    .l-size3of16--xl  { width: 18.75%; }
    .l-size4of16--xl  { width: 25%; }
    .l-size5of16--xl  { width: 31.25%; }
    .l-size6of16--xl  { width: 37.5%; }
    .l-size7of16--xl  { width: 43.75%; }
    .l-size8of16--xl  { width: 50%; }
    .l-size9of16--xl  { width: 56.25%; }
    .l-size10of16--xl { width: 62.5%; }
    .l-size11of16--xl { width: 68.75%; }
    .l-size12of16--xl { width: 75%; }
    .l-size13of16--xl { width: 81.25%; }
    .l-size14of16--xl { width: 87.5%; }
    .l-size15of16--xl { width: 93.75%; }
    .l-size16of16--xl { float: none; width: 100%; }
    .l-hide--xl { display: none; }
}

@media only screen and (max-width: $base-breakpoint-m) {
    .l-size1of16--m  { width: 6.25%; }
    .l-size2of16--m  { width: 12.5%; }
    .l-size3of16--m  { width: 18.75%; }
    .l-size4of16--m  { width: 25%; }
    .l-size5of16--m  { width: 31.25%; }
    .l-size6of16--m  { width: 37.5%; }
    .l-size7of16--m  { width: 43.75%; }
    .l-size8of16--m  { width: 50%; }
    .l-size9of16--m  { width: 56.25%; }
    .l-size10of16--m { width: 62.5%; }
    .l-size11of16--m { width: 68.75%; }
    .l-size12of16--m { width: 75%; }
    .l-size13of16--m { width: 81.25%; }
    .l-size14of16--m { width: 87.5%; }
    .l-size15of16--m { width: 93.75%; }
    .l-size16of16--m { float: none; width: 100%; }
    .l-hide--m { display: none; }
}

@media only screen and (max-width: $base-breakpoint-s-landscape) {
    .l-size1of16--s-landscape  { width: 6.25%; }
    .l-size2of16--s-landscape  { width: 12.5%; }
    .l-size3of16--s-landscape  { width: 18.75%; }
    .l-size4of16--s-landscape  { width: 25%; }
    .l-size5of16--s-landscape  { width: 31.25%; }
    .l-size6of16--s-landscape  { width: 37.5%; }
    .l-size7of16--s-landscape  { width: 43.75%; }
    .l-size8of16--s-landscape  { width: 50%; }
    .l-size9of16--s-landscape  { width: 56.25%; }
    .l-size10of16--s-landscape { width: 62.5%; }
    .l-size11of16--s-landscape { width: 68.75%; }
    .l-size12of16--s-landscape { width: 75%; }
    .l-size13of16--s-landscape { width: 81.25%; }
    .l-size14of16--s-landscape { width: 87.5%; }
    .l-size15of16--s-landscape { width: 93.75%; }
    .l-size16of16--s-landscape { float: none; width: 100%; }
    .l-hide--s-landscape { display: none; }
}

@media only screen and (max-width: $base-breakpoint-s-portrait) {
    .l-size1of16--s-portrait  { width: 6.25%; }
    .l-size2of16--s-portrait  { width: 12.5%; }
    .l-size3of16--s-portrait  { width: 18.75%; }
    .l-size4of16--s-portrait  { width: 25%; }
    .l-size5of16--s-portrait  { width: 31.25%; }
    .l-size6of16--s-portrait  { width: 37.5%; }
    .l-size7of16--s-portrait  { width: 43.75%; }
    .l-size8of16--s-portrait  { width: 50%; }
    .l-size9of16--s-portrait  { width: 56.25%; }
    .l-size10of16--s-portrait { width: 62.5%; }
    .l-size11of16--s-portrait { width: 68.75%; }
    .l-size12of16--s-portrait { width: 75%; }
    .l-size13of16--s-portrait { width: 81.25%; }
    .l-size14of16--s-portrait { width: 87.5%; }
    .l-size15of16--s-portrait { width: 93.75%; }
    .l-size16of16--s-portrait { float: none; width: 100%; }
    .l-hide--s-portrait { display: none; }
}

@media only screen and (max-width: $base-breakpoint-xs-portrait) {
    .l-size1of16--xs-portrait  { width: 6.25%; }
    .l-size2of16--xs-portrait  { width: 12.5%; }
    .l-size3of16--xs-portrait  { width: 18.75%; }
    .l-size4of16--xs-portrait  { width: 25%; }
    .l-size5of16--xs-portrait  { width: 31.25%; }
    .l-size6of16--xs-portrait  { width: 37.5%; }
    .l-size7of16--xs-portrait  { width: 43.75%; }
    .l-size8of16--xs-portrait  { width: 50%; }
    .l-size9of16--xs-portrait  { width: 56.25%; }
    .l-size10of16--xs-portrait { width: 62.5%; }
    .l-size11of16--xs-portrait { width: 68.75%; }
    .l-size12of16--xs-portrait { width: 75%; }
    .l-size13of16--xs-portrait { width: 81.25%; }
    .l-size14of16--xs-portrait { width: 87.5%; }
    .l-size15of16--xs-portrait { width: 93.75%; }
    .l-size16of16--xs-portrait { float: none; width: 100%; }
    .l-hide--xs-portrait { display: none; }
}

@media only screen and (max-width: $base-breakpoint-xs-landscape) {
    .l-size1of16--xs-landscape  { width: 6.25%; }
    .l-size2of16--xs-landscape  { width: 12.5%; }
    .l-size3of16--xs-landscape  { width: 18.75%; }
    .l-size4of16--xs-landscape  { width: 25%; }
    .l-size5of16--xs-landscape  { width: 31.25%; }
    .l-size6of16--xs-landscape  { width: 37.5%; }
    .l-size7of16--xs-landscape  { width: 43.75%; }
    .l-size8of16--xs-landscape  { width: 50%; }
    .l-size9of16--xs-landscape  { width: 56.25%; }
    .l-size10of16--xs-landscape { width: 62.5%; }
    .l-size11of16--xs-landscape { width: 68.75%; }
    .l-size12of16--xs-landscape { width: 75%; }
    .l-size13of16--xs-landscape { width: 81.25%; }
    .l-size14of16--xs-landscape { width: 87.5%; }
    .l-size15of16--xs-landscape { width: 93.75%; }
    .l-size16of16--xs-landscape { float: none; width: 100%; }
    .l-hide--xs-landscape { display: none; }
}