@font-face { 
    font-family: 'FuturaBT-Bold';
    src: url('/sites/all/themes/stmothership/fonts/FuturaBT-Bold.eot'); 
    src: url('/sites/all/themes/stmothership/fonts/FuturaBT-Bold.eot?#iefix') format('embedded-opentype'),url('/sites/all/themes/stmothership/fonts/FuturaBT-Bold.woff') format('woff'),url('/sites/all/themes/stmothership/fonts/FuturaBT-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'FuturaBT-Book';
    src: url('/sites/all/themes/stmothership/fonts/FuturaBT-Book.eot');
    src: url('/sites/all/themes/stmothership/fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),url('/sites/all/themes/stmothership/fonts/FuturaBT-Book.woff') format('woff'),url('/sites/all/themes/stmothership/fonts/FuturaBT-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'FuturaBT-Book';
    src: url('/sites/all/themes/stmothership/fonts/FuturaBT-Bold.eot'); 
    src: url('/sites/all/themes/stmothership/fonts/FuturaBT-Bold.eot?#iefix') format('embedded-opentype'),url('/sites/all/themes/stmothership/fonts/FuturaBT-Bold.woff') format('woff'),url('/sites/all/themes/stmothership/fonts/FuturaBT-Bold.ttf') format('truetype');
    font-style: strong;
    font-weight: bold;
}